body {
    background: #F9F9F9;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #4388FB;
}

header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    background: #fff;
    border-bottom: 1px solid #C8C8C8;
    position: fixed;
    width: 100%;
}

.header-left {
    display: flex;
    gap: 187px;
}

.search {
    display: flex;
}

.search>img {
    position: absolute;
    margin-top: 7px;
    margin-left: 10px;
}

.search>input {
    background: #F1F2F3;
    border-radius: 2px;
    border: 0;
    padding: 8px 36px;
    outline: none;
    font-size: 14px;
    font-family: Roboto;
    width: 336px;
}

.header-right {
    display: flex;
    gap: 24px;
    align-items: center;
}

.language-change {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.user-info {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 500;
}

.avatar {
    background: #E98510;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.wrapper {
    padding-top: 56px;
    display: flex;
    height: 100vh;
}

.left-sidebar {
    width: 100%;
    max-width: 247px;
    border-right: 1px solid #E3E3E3;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 27px 24px;
    position: fixed;
    height: 100%;
}

.left-sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 -24px;
    padding: 4px 23px;
    transition: .1s;
    cursor: pointer;
}

.isActiveAdmin {
    background: #F1F2F3;
}

.sidebar-list-item:hover {
    background: #F1F2F3;
    transition: .1s;
}

.main-content {
    margin-left: 247px;
    padding: 24px;
    width: 100%;
}

.main-content-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content-label>p {
    font-size: 24px;
    font-weight: 700;
}

.new-post {
    background: #121212;
    border-radius: 2px;
    padding: 8px 16px;
    color: #fff;
    font-weight: 500;
}

.main-content-nav {
    margin-top: 24px;
    display: flex;
    gap: 4px;
}

.main-content-search {
    display: flex;
    width: 100%;
}

.main-content-search>img {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
}

.main-content-search>input {
    background: #F1F2F3;
    border-radius: 2px;
    border: 0;
    padding: 8px 36px;
    font-size: 14px;
    font-family: Roboto;
    width: 100%;
    outline: none;
}

.select {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    background: #F1F2F3;
    border-radius: 2px;
    padding: 8px 16px;
    white-space: nowrap;
}

.materials-table {
    margin-top: 12px;
}

.table-label {
    display: flex;
    background: #F4F4F4;
    text-transform: uppercase;
    color: #121212;
    font-size: 12px;
    font-weight: 500;
    gap: 40px;
    padding: 16px;
}

.table-body {
    background: #fff;
}

.table-body-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #E3E3E3;
    gap: 40px;
}

.author,
.body-item-language,
.body-item-status {
    display: flex;
    align-items: center;
    gap: 12px;
}

.label {
    width: 500px;
}

.auth,
.language,
.translation {
    width: 250px;
}

.approved,
.depublished {
    color: #1FCB1C;
    background: #DDFFDE;
    border-radius: 2px;
    padding: 1px 8px;
}

.approving {
    color: #E98510;
    background: #FFECCF;
    border-radius: 2px;
    padding: 1px 8px;
}